/* Background */
/*.row {
  background-color: #ece9e4;
}*/
header {
  background-color: #ece9e4;
}

footer {
  
/*  margin-top: 100px;*/
  background-color: #ece9e4;
}

body {
  background-color: #ece9e4;
}

#wrapper {
  background-color: #ece9e4;
}

/* Login Font */
.navbar-default .navbar-nav>li>a {
  color: #000000;
}

/*Font Family*/
h1, h2, h3 {
  font-family: 'Cuprum', sans-serif;
}

a {
  font-family: 'Cuprum', sans-serif;
  color: #000000;
  text-decoration: none;

}

.btn {
  font-family: 'Cuprum', sans-serif;
}

/* Form */
.form-control {
  height: 50px;
}

/* Buttons */
.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active {
    background-color: #828282;
	  border: solid 1px #828282;
    color: #e6e6e6;
}
.open>.dropdown-toggle.btn-info{
	background-color: #af1321;
	border: solid 1px #af1321;
    color: #ffffff;
}

span.text-info{
	color: #ffffff;
}
.btn-info {
    background-color: #828282;
	border: solid 1px #828282;
    color: #e6e6e6;
    -moz-box-shadow:    1px 1px 1px 1px #000000;
  	-webkit-box-shadow: 1px 1px 1px 1px #000000;
  	box-shadow:         1px 1px 1px 1px #000000;

}
.btn-info:hover{
	background-color: #8c888a;
	border: solid 1px #8c888a;
	-moz-box-shadow:    1px 1px 1px 1px #000000;
  	-webkit-box-shadow: 1px 1px 1px 1px #000000;
  	box-shadow:         1px 1px 1px 1px #000000;
	color: #e6e6e6;
}
.btn-success {
    background-color: #9e0023;
    border-color: #9e0023;
    color: #e6e6e6;
    -moz-box-shadow:    1px 1px 1px 1px #000000;
  	-webkit-box-shadow: 1px 1px 1px 1px #000000;
  	box-shadow:         1px 1px 1px 1px #000000;
}
.btn-success:hover{
	background-color: #af1321;
    border-color: #af1321;
    color: #e6e6e6;
    -moz-box-shadow:    1px 1px 1px 1px #000000;
  	-webkit-box-shadow: 1px 1px 1px 1px #000000;
  	box-shadow:         1px 1px 1px 1px #000000;

}

.btn-default {
  background: #dcddd9; /* Old browsers */
  background: -moz-linear-gradient(top,  #dcddd9 0%, #929292 43%, #7b7b7d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dcddd9), color-stop(43%,#929292), color-stop(100%,#7b7b7d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #dcddd9 0%,#929292 43%,#7b7b7d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #dcddd9 0%,#929292 43%,#7b7b7d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #dcddd9 0%,#929292 43%,#7b7b7d 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #dcddd9 0%,#929292 43%,#7b7b7d 100%); /* W3C */
  
  border-color: #929292; /* Old browsers */
  border-width: 0px;
  
  color: #e6e6e6;
  -moz-box-shadow:    1px 1px 1px 1px #000000;
  -webkit-box-shadow: 1px 1px 1px 1px #000000;
  box-shadow:         1px 1px 1px 1px #000000;
}

.btn-default:hover {
  background-color: #8b8b8b;
  border-color: #8b8b8b;
  color: #e6e6e6;
  -moz-box-shadow:    1px 1px 1px 1px #000000;
  -webkit-box-shadow: 1px 1px 1px 1px #000000;
  box-shadow:         1px 1px 1px 1px #000000;

}

.btn-date {
  background: #dcddd9; /* Old browsers */
  background: -moz-linear-gradient(top,  #dcddd9 0%, #929292 43%, #7b7b7d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dcddd9), color-stop(43%,#929292), color-stop(100%,#7b7b7d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #dcddd9 0%,#929292 43%,#7b7b7d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #dcddd9 0%,#929292 43%,#7b7b7d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #dcddd9 0%,#929292 43%,#7b7b7d 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #dcddd9 0%,#929292 43%,#7b7b7d 100%); /* W3C */
  
  border-color: #929292; /* Old browsers */
  border-width: 0px;
  
  color: #e6e6e6;
  -moz-box-shadow:    1px 1px 1px 1px #000000;
  -webkit-box-shadow: 1px 1px 1px 1px #000000;
  box-shadow:         1px 1px 1px 1px #000000;
}

.btn-date:hover {
  background-color: #8b8b8b;
  border-color: #8b8b8b;
  color: #e6e6e6;
  -moz-box-shadow:    1px 1px 1px 1px #000000;
  -webkit-box-shadow: 1px 1px 1px 1px #000000;
  box-shadow:         1px 1px 1px 1px #000000;

}

.btn-danger {
    background-color: #9e0023;
    border-color: #9e0023;
    color: #e6e6e6;
    -moz-box-shadow:    1px 1px 1px 1px #000000;
  	-webkit-box-shadow: 1px 1px 1px 1px #000000;
  	box-shadow:         1px 1px 1px 1px #000000;

}
.btn-danger:hover {
    background-color: #af1321;
    border-color: #af1321;
    color: #e6e6e6;
    -moz-box-shadow:    1px 1px 1px 1px #000000;
  	-webkit-box-shadow: 1px 1px 1px 1px #000000;
  	box-shadow:         1px 1px 1px 1px #000000;

}

.pusher {
	margin-top: 100px;
	/*-webkit-box-shadow: 0 8px 6px 2px #000000;
	-moz-box-shadow: 0 8px 6px 2px #000000;
	box-shadow: 0 8px 6px 2px #000000;*/
}

.visible-xs{
	opacity: .7;
}

.navbar {
	min-height: 100px;
	/*background-color: #999;*/
  	padding: 2px;
  	color: #000000;
  	opacity: .8;
  	-webkit-box-shadow: 0 8px 6px 2px #000000;
	-moz-box-shadow: 0 8px 6px 2px #000000;
	box-shadow: 0 8px 6px 2px #000000;
}
.navbar-right a {
	margin-top: 25px;
}
.navbar-text > a {
    color: inherit;
    text-decoration: none;
}
.userPic {
	/*border-radius: 500px;*/
	/*border: 1px solid #000;*/
	margin-top: 25px;
	-moz-box-shadow:    1px 1px 1px 1px #000000;
  	-webkit-box-shadow: 1px 1px 1px 1px #000000;
  	box-shadow:         1px 1px 1px 1px #000000;
}
/*.extra {

	-moz-box-shadow:    1px 1px 1px 1px #000000;
  	-webkit-box-shadow: 1px 1px 1px 1px #000000;
  	box-shadow:         1px 1px 1px 1px #000000;

}*/
.col-md-3 input {

	-moz-box-shadow:    inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow:         inset 0 0 5px #000000;
    margin-top: 10px;
    /*border-color: ##20541a;*/

}

.form-control:focus {
	-moz-box-shadow:    inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow:         inset 0 0 5px #000000;
    border: solid 1px #af1321;
}


.btn {
	 margin-top: 10px;
	 width: 100%;
   height: 50px;
   line-height: 2.6;
	/* -moz-box-shadow:    1px 1px 1px 1px #000000;
  	-webkit-box-shadow: 1px 1px 1px 1px #000000;
  	box-shadow:         1px 1px 1px 1px #000000;*/
}
.btn-secondary{
	background-color: #828282;
	border: solid 1px #828282;
    color: #e6e6e6;
    -moz-box-shadow:    1px 1px 1px 1px #000000;
  	-webkit-box-shadow: 1px 1px 1px 1px #000000;
  	box-shadow:         1px 1px 1px 1px #000000;
}
.btn-secondary:hover{
	background-color: #8c888a;
	border: solid 1px #8c888a;
	-moz-box-shadow:    1px 1px 1px 1px #000000;
  	-webkit-box-shadow: 1px 1px 1px 1px #000000;
  	box-shadow:         1px 1px 1px 1px #000000;
	color: #e6e6e6;
}
.btn-primary{
	  background: #9e0a0a; /* Old browsers */
    background: -moz-linear-gradient(top,  #9e0a0a 0%, #b51628 43%, #c81738 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e0a0a), color-stop(43%,#b51628), color-stop(100%,#c81738)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9e0a0a 0%,#b51628 43%,#c81738 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9e0a0a 0%,#b51628 43%,#c81738 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9e0a0a 0%,#b51628 43%,#c81738 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #9e0a0a 0%,#b51628 43%,#c81738 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e0a0a', endColorstr='#c81738',GradientType=0 ); /* IE6-9 */

    border-color: #9e0a0a; /* Old browsers */
    border-color: -moz-linear-gradient(top,  #9e0a0a 0%, #b51628 43%, #c81738 100%); /* FF3.6+ */
    border-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e0a0a), color-stop(43%,#b51628), color-stop(100%,#c81738)); /* Chrome,Safari4+ */
    border-color: -webkit-linear-gradient(top,  #9e0a0a 0%,#b51628 43%,#c81738 100%); /* Chrome10+,Safari5.1+ */
    border-color: -o-linear-gradient(top,  #9e0a0a 0%,#b51628 43%,#c81738 100%); /* Opera 11.10+ */
    border-color: -ms-linear-gradient(top,  #9e0a0a 0%,#b51628 43%,#c81738 100%); /* IE10+ */
    border-color: linear-gradient(to bottom,  #9e0a0a 0%,#b51628 43%,#c81738 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e0a0a', endColorstr='#c81738',GradientType=0 ); /* IE6-9 */

    color: #e6e6e6;
    -moz-box-shadow:    1px 1px 1px 1px #000000;
  	-webkit-box-shadow: 1px 1px 1px 1px #000000;
  	box-shadow:         1px 1px 1px 1px #000000;
}
.btn-primary:hover{
	  background-color: #af1321;
    border-color: #af1321;
    color: #e6e6e6;
    -moz-box-shadow:    1px 1px 1px 1px #000000;
  	-webkit-box-shadow: 1px 1px 1px 1px #000000;
  	box-shadow:         1px 1px 1px 1px #000000;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
	background-color: #9e0023;
}
.bg-pattern{
  background-color: #ece9e4;
	 /*background-image: url("../img/binding_light.png");*/
	/* min-height: 700px;*/
	 width: 100%;
}
.bg-pattern2{
  background-color: #ece9e4;
	 /*background-image: url("../img/binding_light.png");*/
	 max-height: 2000px;
	  width: 100%;
}