<div style="" class="pusher">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <!-- <p>{{slide.text}}</p> -->
        </div>
      </slide>
    </carousel>
</div>
      <section class="">
        
                <!-- <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">5-Day forecast for {{ dude.appendix.airports[0].city }} {{ dude.appendix.airports[0].stateCode }}
                </button>
                <hr>
                <div collapse="isCollapsed">
                <div class="well well-lg">Date: {{ weatherDepart.query.results.channel.item.forecast[0].day }} {{ weatherDepart.query.results.channel.item.forecast[0].date}}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[0].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[0].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[0].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                Weather: {{ weatherDepart.query.results.channel.item.forecast[0].text }}
                <br>
                </div> 
                
                <div class="well well-lg">Date: {{ weatherDepart.query.results.channel.item.forecast[1].day }} {{ weatherDepart.query.results.channel.item.forecast[1].date}}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[1].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[1].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[1].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                Weather: {{ weatherDepart.query.results.channel.item.forecast[1].text }}
                <br>
                </div> 

                <div class="well well-lg">Date: {{ weatherDepart.query.results.channel.item.forecast[2].day }} {{ weatherDepart.query.results.channel.item.forecast[2].date}}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[2].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[2].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[2].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                Weather: {{ weatherDepart.query.results.channel.item.forecast[2].text }}
                <br>
                </div>

                <div class="well well-lg">Date: {{ weatherDepart.query.results.channel.item.forecast[3].day }} {{ weatherDepart.query.results.channel.item.forecast[3].date}}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[3].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[3].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[3].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                Weather: {{ weatherDepart.query.results.channel.item.forecast[3].text }}
                <br>
                </div>

                <div class="well well-lg">Date: {{ weatherDepart.query.results.channel.item.forecast[4].day }} {{ weatherDepart.query.results.channel.item.forecast[4].date}}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[4].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[4].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[4].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                Weather: {{ rootScope.mySearchpart.query.results.channel.item.forecast[4].text }}
                <br>
                </div>


                </div>
     
 -->

                                        <!-- Tabs -->    

        
                <!-- <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">5-Day forecast for {{ dude.appendix.airports[1].city }} {{ dude.appendix.airports[1].stateCode }}
                </button>
                <hr>
                <div collapse="isCollapsed">
                <div class="well well-lg">Date: {{ weatherArrive.query.results.channel.item.forecast[0].day }} {{ weatherArrive.query.results.channel.item.forecast[0].date}}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[0].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[0].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[0].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Weather: {{ weatherArrive.query.results.channel.item.forecast[0].text }}
                <br>
                </div> 
                
                <div class="well well-lg">Date: {{ weatherArrive.query.results.channel.item.forecast[1].day }} {{ weatherArrive.query.results.channel.item.forecast[1].date}}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[1].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[1].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[1].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Weather: {{ weatherArrive.query.results.channel.item.forecast[1].text }}
                <br>
                </div> 

                <div class="well well-lg">Date: {{ weatherArrive.query.results.channel.item.forecast[2].day }} {{ weatherArrive.query.results.channel.item.forecast[2].date}}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[2].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[2].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[2].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Weather: {{ weatherArrive.query.results.channel.item.forecast[2].text }}
                <br>
                </div>

                <div class="well well-lg">Date: {{ weatherArrive.query.results.channel.item.forecast[3].day }} {{ weatherArrive.query.results.channel.item.forecast[3].date}}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[3].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[3].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[3].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Weather: {{ weatherArrive.query.results.channel.item.forecast[3].text }}
                <br>
                </div>

                <div class="well well-lg">Date: {{ weatherArrive.query.results.channel.item.forecast[4].day }} {{ weatherArrive.query.results.channel.item.forecast[4].date}}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[4].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[4].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[4].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Weather: {{ weatherArrive.query.results.channel.item.forecast[4].text }}
                <br>
                </div>

              </section> -->

                                           <!-- Tabs -->  

              <!-- <section class="col-sm-6">
                <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Current temperature for {{ dude.appendix.airports[0].city }} {{ dude.appendix.airports[0].stateCode }}
                </button>
                <hr>
                <div collapse="isCollapsed">
                <div class="well well-lg">Date: {{ weatherDepart.query.results.channel.item.forecast[0].day }} {{ weatherDepart.query.results.channel.item.forecast[0].date}}
                <br>
                Temp: {{ weatherDepart.query.results.channel.item.condition.temp}} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                Weather: {{ weatherDepart.query.results.channel.item.condition.text }}
                </div>
                </div>

     

        
                <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Current temperature for {{ dude.appendix.airports[1].city }} {{ dude.appendix.airports[1].stateCode }}
                </button>
                <hr>
                <div collapse="isCollapsed">
                <div class="well well-lg">Date: {{ weatherArrive.query.results.channel.item.forecast[0].day }} {{ weatherArrive.query.results.channel.item.forecast[0].date}}
                <br>
                Temp: {{ weatherArrive.query.results.channel.item.condition.temp}} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Weather: {{ weatherArrive.query.results.channel.item.condition.text }}
                </div>
                </div>
            

                <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Current temperature for {{ dude.appendix.airports[1].city }} {{ dude.appendix.airports[1].stateCode }}
                </button>
                <hr>
                <div collapse="isCollapsed">
                <div class="well well-lg">Date: {{ weatherArrive.query.results.channel.item.forecast[0].day }} {{ weatherArrive.query.results.channel.item.forecast[0].date}}
                <br>
                Temp: {{ weatherArrive.query.results.channel.item.condition.temp}} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Weather: {{ weatherArrive.query.results.channel.item.condition.text }}
                </div>
                </div> -->

            </section>
            <!-- <p>Welcome {{loginObj.user.thirdPartyUserData.name}}</p> -->

          
          <!-- <pre>{{ weatherDepart.query.results.channel.item.forecast | json}}</pre> -->
          
          <!-- <pre>{{ weather2 | json }}</pre> -->
         <!--  <pre>{{ events | json }}</pre> -->


            <!-- <pre>{{ weatherDepart.query.results.location.city }}</pre>

 -->
         <!--    <pre>{{ loginObj.user.data.url | json }}</pre>  -->

           <section>
            <br>
            <pre>Airport Resources:

             Departure Terminal: {{ dude.flightStatuses[0].airportResources.departureTerminal }}
             Departure Gate: {{ dude.flightStatuses[0].airportResources.departureGate }}
             Arrival Terminal: {{ dude.flightStatuses[0].airportResources.arrivalTerminal }}
            </pre>

           

            <pre>Coordinates:

            latitude: {{ dude.appendix.airports[0].latitude}}
            longitude: {{ dude.appendix.airports[0].longitude}}
            </pre>

            <pre>Phone Number:

            {{ dude.appendix.airlines[0].name }}
            {{ dude.appendix.airlines[0].phoneNumber }}
            </pre>

            <pre>Departing Airport:

            {{ dude.appendix.airports[0].name }}
            {{ dude.appendix.airports[0].city }} {{ dude.appendix.airports[0].stateCode }}
            {{ dude.appendix.airports[0].postalCode }}
            {{ dude.appendix.airports[0].countryName }}</pre>

            <pre>Arriving Airport(s):

            {{ dude.appendix.airports[1].name }}
            {{ dude.appendix.airports[1].city }} {{ dude.appendix.airports[1].stateCode }}
            {{ dude.appendix.airports[1].postalCode }}
            {{ dude.appendix.airports[1].countryName }}

            {{ dude.appendix.airports[2].name }}
            {{ dude.appendix.airports[2].city }} {{ dude.appendix.airports[2].stateCode }}
            {{ dude.appendix.airports[2].countryName }}</pre>

          

            <pre>Flight Number: 
            {{ dude.flightStatuses[0].flightNumber }}</pre>

            <pre>Airliner:
            {{ dude.appendix.airlines[0].name }}</pre>

            <pre>Flight Status:
            {{ dude.flightStatuses[0].status }}</pre>

            
            <!-- <pre>
              <h5>FlightStats uses a number of status codes to denote the state of the flight. The following states are currently used:</h5>
                    <ul>
                      <li>Scheduled (S) - A scheduled flight is one that is anticipated to depart and arrive according to either filed flight plans or published flight schedules. A Scheduled flight can transition to Cancelled, Active, or Unknown.</li>

                      <li>Active (A) - Active flights represent pushed back from gate and airborne flights. They may have departure information depending upon the availability of the data. An active flight may transition to Unknown, Landed, or Redirected. While active, FlightStats tracks information about departure, estimated arrival, and where available, positional data.</li>

                      <li>Unknown (U) - An unknown flight occurs when FlightStats cannot determine the final status of a flight from a data source in a reasonable amount of time. Note, this is a valid state rather than an error state. For example, ASDI information may not be available for certain flights internationally or the airline may not participate in a subscribed GDS.</li>

                      <li>Redirected (R) - The flight is in the air and has changed its destination to an unscheduled airport. After landing at an unscheduled airport, the state will change to Diverted.</li>

                      <li>Landed (L) - The flight landed at the scheduled airport.</li>

                      <li>Diverted (D) - The flight landed at an unscheduled airport.</li>

                      <li>Cancelled (C) - The flight was cancelled.</li>

                      <li>Not Operational (NO) - The flight appears to be from an outdated schedule or flight plan – meaning that when we queried the airline, it returned that the flight is not scheduled.</li>
                    </ul>
            </pre> -->


      </section>


        <section class="col-sm-6">
                <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Current temperature for {{ dude.appendix.airports[0].city }} {{ dude.appendix.airports[0].stateCode }}
                </button>
                <hr>
                <div collapse="isCollapsed">
                <div class="well well-lg">Date: {{ weatherDepart.query.results.channel.item.forecast[0].day }} {{ weatherDepart.query.results.channel.item.forecast[0].date}}
                <br>
                Temp: {{ weatherDepart.query.results.channel.item.condition.temp}} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                Weather: {{ weatherDepart.query.results.channel.item.condition.text }}
                </div>
                </div>

     

        
                <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Current temperature for {{ dude.appendix.airports[1].city }} {{ dude.appendix.airports[1].stateCode }}
                </button>
                <hr>
                <div collapse="isCollapsed">
                <div class="well well-lg">Date: {{ weatherArrive.query.results.channel.item.forecast[0].day }} {{ weatherArrive.query.results.channel.item.forecast[0].date}}
                <br>
                Temp: {{ weatherArrive.query.results.channel.item.condition.temp}} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Weather: {{ weatherArrive.query.results.channel.item.condition.text }}
                </div>
                </div>

            </section>

       <section class="col-sm-6">
        
                <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">5-Day forecast for {{ dude.appendix.airports[0].city }} {{ dude.appendix.airports[0].stateCode }}
                </button>
                <hr>
                <div collapse="isCollapsed">
                <div class="well well-lg">Date: {{ weatherDepart.query.results.channel.item.forecast[0].day }} {{ weatherDepart.query.results.channel.item.forecast[0].date}}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[0].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[0].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[0].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                Weather: {{ weatherDepart.query.results.channel.item.forecast[0].text }}
                <br>
                </div> 
                
                <div class="well well-lg">Date: {{ weatherDepart.query.results.channel.item.forecast[1].day }} {{ weatherDepart.query.results.channel.item.forecast[1].date}}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[1].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[1].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[1].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                Weather: {{ weatherDepart.query.results.channel.item.forecast[1].text }}
                <br>
                </div> 

                <div class="well well-lg">Date: {{ weatherDepart.query.results.channel.item.forecast[2].day }} {{ weatherDepart.query.results.channel.item.forecast[2].date}}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[2].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[2].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[2].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                Weather: {{ weatherDepart.query.results.channel.item.forecast[2].text }}
                <br>
                </div>

                <div class="well well-lg">Date: {{ weatherDepart.query.results.channel.item.forecast[3].day }} {{ weatherDepart.query.results.channel.item.forecast[3].date}}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[3].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[3].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[3].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                Weather: {{ weatherDepart.query.results.channel.item.forecast[3].text }}
                <br>
                </div>

                <div class="well well-lg">Date: {{ weatherDepart.query.results.channel.item.forecast[4].day }} {{ weatherDepart.query.results.channel.item.forecast[4].date}}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[4].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[4].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[4].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                Weather: {{ rootScope.mySearchpart.query.results.channel.item.forecast[4].text }}
                <br>
                </div>


                </div>
     


                                        <!-- Tabs -->    

        
                <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">5-Day forecast for {{ dude.appendix.airports[1].city }} {{ dude.appendix.airports[1].stateCode }}
                </button>
                <hr>
                <div collapse="isCollapsed">
                <div class="well well-lg">Date: {{ weatherArrive.query.results.channel.item.forecast[0].day }} {{ weatherArrive.query.results.channel.item.forecast[0].date}}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[0].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[0].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[0].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Weather: {{ weatherArrive.query.results.channel.item.forecast[0].text }}
                <br>
                </div> 
                
                <div class="well well-lg">Date: {{ weatherArrive.query.results.channel.item.forecast[1].day }} {{ weatherArrive.query.results.channel.item.forecast[1].date}}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[1].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[1].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[1].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Weather: {{ weatherArrive.query.results.channel.item.forecast[1].text }}
                <br>
                </div> 

                <div class="well well-lg">Date: {{ weatherArrive.query.results.channel.item.forecast[2].day }} {{ weatherArrive.query.results.channel.item.forecast[2].date}}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[2].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[2].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[2].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Weather: {{ weatherArrive.query.results.channel.item.forecast[2].text }}
                <br>
                </div>

                <div class="well well-lg">Date: {{ weatherArrive.query.results.channel.item.forecast[3].day }} {{ weatherArrive.query.results.channel.item.forecast[3].date}}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[3].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[3].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[3].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Weather: {{ weatherArrive.query.results.channel.item.forecast[3].text }}
                <br>
                </div>

                <div class="well well-lg">Date: {{ weatherArrive.query.results.channel.item.forecast[4].day }} {{ weatherArrive.query.results.channel.item.forecast[4].date}}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[4].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[4].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[4].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Weather: {{ weatherArrive.query.results.channel.item.forecast[4].text }}
                <br>
                </div>

              </section>

                                           <!-- Tabs -->  

             
<!-- 
  
      <section class="col-sm-6">
            <h3>Welcome {{currentUser.facebook.cachedUserProfile.name }}, to the AirChat room!</h3>
            <div ng-repeat="comment in comments">
                  <p> {{comment.user}}</p>
                  <p> {{comment.content}}</p>
                  <button type="submit" class="btn btn-secondary btn-md" ng-if="currentUser.facebook.cachedUserProfile.id===comment.userId" ng-click="deleteComment(comment.$id)"> Delete! {{comment.$id}}</button>
                  <hr/>
            </div>
            <div ng-show="currentUser.facebook"> 
              <form ng-submit="createComment()">
                    <div class="form-group">
                          <textarea class="form-control" ng-model="newComment.content" placeholder="Enter Comment">
                          </textarea>
                          <button type="submit" class="btn btn-primary btn-md" ng-click="authObj.$unauth();">Comment!</button>
                    </div>
              </form>
            </div>
            <div ng-hide="currentUser.facebook"> 
              <p>to chat login in with Facebook</p>
              <button  type="submit" class="btn btn-primary btn-md" ng-click="authObj.$unauth();">Logout</button>
            </div>


            <h3>Event Data</h3>
            <div ng-repeat="event in eventbrite.events">
                <div>
                    <img ng-src="{{event.event.logo}}" alt=""/>
                    <h4>{{event.event.title}}</h4>
                    <p ng-bind-html="event.event.description"></p> -->
                    <!-- <pre> {{event | json }}</pre> -->
                <!-- </div>
            </div>


      </section> -->
<!-- 
</section> --> <!-- ENDS .row --> 
</div>
