

<div style="" class="pusher">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <!-- <p>{{slide.text}}</p> -->
        </div>
      </slide>
    </carousel>
    <!-- https://www.youtube.com/watch?v=g0EdSiiyxdI -->
   
          <!-- <p>Welcome {{loginObj.user.thirdPartyUserData.name}}</p> -->
          <!-- <pre>{{ weatherDepart.query.results.channel.item.forecast | json}}</pre> --> 
          <!-- <pre>{{ weather2 | json }}</pre> -->
          <!--  <pre>{{ events | json }}</pre> -->
          <!-- <pre>{{ weatherDepart.query.results.location.city }}</pre> -->
          <!-- <pre>{{ loginObj.user.data.url | json }}</pre>  -->
            <div class="container">
            <div class="row">

            <br>

            <section class="col-sm-6">

            
            <accordion close-others="oneAtATime" >
                <accordion-group heading="Flight Information">
              
                Current Time:
                <br>
                <blockquote popover="Refresh for Current Time" popover-trigger="mouseenter" >{{mytime | date:'shortTime' }}</blockquote>
                
                Airport Resources:
                <br>
                <blockquote>Departure Terminal: {{ dude.flightStatuses[0].airportResources.departureTerminal }}
                <br>
                Departure Gate: {{ dude.flightStatuses[0].airportResources.departureGate }}</blockquote>
                

                Coordinates:
                <br>
                <blockquote>latitude: {{ dude.appendix.airports[0].latitude}}
                <br>
                longitude: {{ dude.appendix.airports[0].longitude}}</blockquote>
               

                Phone Number:
                <br>
                <blockquote>{{ dude.appendix.airlines[0].name }}
                <br>
                {{ dude.appendix.airlines[0].phoneNumber }}</blockquote>
              

                Departing Airport:
                <br>
                <blockquote>{{ dude.appendix.airports[0].name }}
                <br>
                {{ dude.appendix.airports[0].city }}, {{ dude.appendix.airports[0].stateCode }}
                <br>
                {{ dude.appendix.airports[0].postalCode }}
                <br>
                {{ dude.appendix.airports[0].countryName }}
                </blockquote>
   


                Arriving Airport:
                <br>
                <blockquote>{{ dude.appendix.airports[1].name }}
                <br>
                {{ dude.appendix.airports[1].city }}, {{ dude.appendix.airports[1].stateCode }}
                <br>
                {{ dude.appendix.airports[1].postalCode }}
                <br>
                {{ dude.appendix.airports[1].countryName }}
                </blockquote>


                Flight Number:
                <br>
                <blockquote>{{ dude.flightStatuses[0].flightNumber }}</blockquote>
               

                Airline Carrier:
                <br>
                <blockquote>{{ dude.appendix.airlines[0].name }}</blockquote>
                

                Flight Status:
                <br>
                <blockquote>{{ dude.flightStatuses[0].status }}</blockquote><button class="btn btn-default" ng-click="open('lg')">More Flight Info.</button>

                

            </accordion-group>
           

            
                <accordion-group heading="Current temperature for {{ dude.appendix.airports[0].city }}, {{ dude.appendix.airports[0].stateCode }}">
                Date: {{ weatherArrive.query.results.channel.item.forecast[0].day }} {{ weatherArrive.query.results.channel.item.forecast[0].date}}
                <br>
                <blockquote>
                <img src="http://l.yimg.com/a/i/us/we/52/{{ weatherDepart.query.results.channel.item.condition.code}}.gif">
                <br>
                Temp: {{ weatherDepart.query.results.channel.item.condition.temp}} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                Description: {{ weatherDepart.query.results.channel.item.condition.text }}</blockquote>

                 </accordion-group>
              
             
                <accordion-group heading="Current temperature for {{ dude.appendix.airports[1].city }}, {{ dude.appendix.airports[1].stateCode }}">
                Date: {{ weatherArrive.query.results.channel.item.forecast[0].day }} {{ weatherArrive.query.results.channel.item.forecast[0].date}}
                <br>
                <blockquote>
                <img src="http://l.yimg.com/a/i/us/we/52/{{ weatherArrive.query.results.channel.item.forecast[0].code}}.gif">
                <br>
                Temp: {{ weatherArrive.query.results.channel.item.condition.temp}} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Description: {{ weatherArrive.query.results.channel.item.condition.text }}</blockquote>
           </accordion-group>
         </accordion>
    </section>



       <section class="col-sm-6">

             <accordion close-others="oneAtATime" >
                <accordion-group heading="5-Day forecast for {{ dude.appendix.airports[0].city }}, {{ dude.appendix.airports[0].stateCode }}">
                Date: {{ weatherDepart.query.results.channel.item.forecast[0].day }} {{ weatherDepart.query.results.channel.item.forecast[0].date}}
                <br>
                <blockquote>
                <img src="http://l.yimg.com/a/i/us/we/52/{{ weatherDepart.query.results.channel.item.forecast[0].code }}.gif">
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[0].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                Low: {{ weatherDepart.query.results.channel.item.forecast[0].low }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                Description: {{ weatherDepart.query.results.channel.item.forecast[0].text }}
                <br></blockquote>
               
                Date: {{ weatherDepart.query.results.channel.item.forecast[1].day }} {{ weatherDepart.query.results.channel.item.forecast[1].date}}
                <br>
                <blockquote>
                <img src="http://l.yimg.com/a/i/us/we/52/{{ weatherDepart.query.results.channel.item.forecast[1].code }}.gif">
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[1].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                Low: {{ weatherDepart.query.results.channel.item.forecast[1].low }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                Description: {{ weatherDepart.query.results.channel.item.forecast[1].text }}
                <br></blockquote>
                
                Date: {{ weatherDepart.query.results.channel.item.forecast[2].day }} {{ weatherDepart.query.results.channel.item.forecast[2].date}}
                <br>
                <blockquote>
                <img src="http://l.yimg.com/a/i/us/we/52/{{ weatherDepart.query.results.channel.item.forecast[2].code }}.gif">
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[2].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                Low: {{ weatherDepart.query.results.channel.item.forecast[2].low }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                Description: {{ weatherDepart.query.results.channel.item.forecast[2].text }}
                <br></blockquote>
               

                Date: {{ weatherDepart.query.results.channel.item.forecast[3].day }} {{ weatherDepart.query.results.channel.item.forecast[3].date}}
                <br>
                <blockquote>
                <img src="http://l.yimg.com/a/i/us/we/52/{{ weatherDepart.query.results.channel.item.forecast[3].code }}.gif">
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[3].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                Low: {{ weatherDepart.query.results.channel.item.forecast[3].low }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                Description: {{ weatherDepart.query.results.channel.item.forecast[3].text }}
                <br></blockquote>
                

                Date: {{ weatherDepart.query.results.channel.item.forecast[4].day }} {{ weatherDepart.query.results.channel.item.forecast[4].date}}
                <br>
                <blockquote>
                <img src="http://l.yimg.com/a/i/us/we/52/{{ weatherDepart.query.results.channel.item.forecast[4].code }}.gif">
                <br>
                High: {{ weatherDepart.query.results.channel.item.forecast[4].high }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                Low: {{ weatherDepart.query.results.channel.item.forecast[4].low }} {{ weatherDepart.query.results.channel.units.temperature }}
                <br>
                Description: {{ weatherDepart.query.results.channel.item.forecast[4].text }}
                <br></blockquote>
            </accordion-group>   
    

                
            <accordion-group heading="5-Day forecast for {{ dude.appendix.airports[1].city }}, {{ dude.appendix.airports[1].stateCode }}">
                Date: {{ weatherArrive.query.results.channel.item.forecast[0].day }} {{ weatherArrive.query.results.channel.item.forecast[0].date}}
                <br>
                <blockquote>
                <img src="http://l.yimg.com/a/i/us/we/52/{{ weatherArrive.query.results.channel.item.forecast[0].code }}.gif">
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[0].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Low: {{ weatherArrive.query.results.channel.item.forecast[0].low }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Description: {{ weatherArrive.query.results.channel.item.forecast[0].text }}
                <br></blockquote>
                 
                
                Date: {{ weatherArrive.query.results.channel.item.forecast[1].day }} {{ weatherArrive.query.results.channel.item.forecast[1].date}}
                <br>
                <blockquote>
                <img src="http://l.yimg.com/a/i/us/we/52/{{ weatherArrive.query.results.channel.item.forecast[1].code }}.gif">
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[1].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Low: {{ weatherArrive.query.results.channel.item.forecast[1].low }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Description: {{ weatherArrive.query.results.channel.item.forecast[1].text }}
                <br></blockquote>
               

                Date: {{ weatherArrive.query.results.channel.item.forecast[2].day }} {{ weatherArrive.query.results.channel.item.forecast[2].date}}
                <br>
                <blockquote>
                <img src="http://l.yimg.com/a/i/us/we/52/{{ weatherArrive.query.results.channel.item.forecast[2].code }}.gif">
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[2].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Low: {{ weatherArrive.query.results.channel.item.forecast[2].low }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Description: {{ weatherArrive.query.results.channel.item.forecast[2].text }}
                <br></blockquote>
                

                Date: {{ weatherArrive.query.results.channel.item.forecast[3].day }} {{ weatherArrive.query.results.channel.item.forecast[3].date}}
                <br>
                <blockquote>
                <img src="http://l.yimg.com/a/i/us/we/52/{{ weatherArrive.query.results.channel.item.forecast[3].code }}.gif">
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[3].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Low: {{ weatherArrive.query.results.channel.item.forecast[3].low }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Description: {{ weatherArrive.query.results.channel.item.forecast[3].text }}
                <br></blockquote>
                

                Date: {{ weatherArrive.query.results.channel.item.forecast[4].day }} {{ weatherArrive.query.results.channel.item.forecast[4].date}}
                <br>
                <blockquote>
                <img src="http://l.yimg.com/a/i/us/we/52/{{ weatherArrive.query.results.channel.item.forecast[4].code }}.gif">
                <br>
                High: {{ weatherArrive.query.results.channel.item.forecast[4].high }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Low: {{ weatherArrive.query.results.channel.item.forecast[4].low }} {{ weatherArrive.query.results.channel.units.temperature }}
                <br>
                Description: {{ weatherArrive.query.results.channel.item.forecast[4].text }}
                <br></blockquote>
            </accordion-group>

                                           <!-- Tabs -->  

            <accordion-group heading="Information from Airline Carrier!" >
                Welcome {{currentUser.facebook.cachedUserProfile.name }}, to the AirChat room!
                <div ng-repeat="comment in comments">
                      <p> {{comment.user}}</p>
                      <p> {{comment.content}}</p>
                      <button type="submit" class="btn btn-secondary btn-md" ng-if="currentUser.facebook.cachedUserProfile.id===comment.userId" ng-click="deleteComment(comment.$id)"> Delete! {{comment.$id}}</button>
                      <hr/>
                </div>
                <div ng-show="currentUser.facebook"> 
                  <form ng-submit="createComment()">
                        <div class="form-group">
                              <textarea class="form-control" ng-model="newComment.content" placeholder="Enter Comment">
                              </textarea>
                              <button type="submit" class="btn btn-primary btn-md" ng-click="authObj.$unauth();">Add Comment!</button>
                        </div>
                  </form>
                </div>
                <div ng-hide="currentUser.facebook"> 
                  <p>to chat login in with Facebook</p>
                  <button  type="submit" class="btn btn-primary btn-md" ng-click="authObj.$unauth();">Logout</button>
                </div>
            </accordion-group>
 
   <!-- <accordion-group heading="Events For {{ dude.appendix.airports[1].city }}, {{ dude.appendix.airports[1].stateCode }}" >
            Upcoming Social Events in {{ dude.appendix.airports[1].city }}, {{ dude.appendix.airports[1].stateCode }}
            <div ng-repeat="event in eventbrite.events">
                    <div>
                        <h3>Logo</h3>
                        <img ng-src="{{event.event.logo}}" width="100%" alt=""/>
                        <h4>{{event.event.title}}</h4>
                        <h3>Title</h3>
                        <p ng-bind-html="event.event.description"></p>
                        <h3>Discription</h3>
                        <p ng-bind-html="event.event.description"></p>
                        <h3>Discription</h3> -->
                        <!-- <pre> {{event | json }}</pre> -->
                    <!-- </div>
                </div>
            </div>
    

            </section> --> <!-- ENDS .row --> 

    <!-- <button class="btn btn-default" ng-click="open('sm')">Small modal</button>

    <button class="btn btn-default" ng-click="open('sm')">Small modal</button>

    <button class="btn btn-default" ng-click="open('sm')">Small modal</button>

    <button class="btn btn-default" ng-click="open('sm')">Small modal</button>

    <div ng-show="selected">Selection from a modal: {{ selected }}</div> -->

    <!-- </accordion-group> -->
</accordion>
   

</section>
