<ion-view title="Welcome to AirChat">
  <div class="bar bar-header bar-light">
    <div class="title" id="logo">
      <img src="img/logo.png" />
    </div>
  </div>
  
  <ion-content class="padding">

    <h4>Admin Please Login!</h4>

    <label class="item item-input item-stacked-label item-divider">   
      <input type="email" placeholder="Enter your email">
    </label>

    <label class="item item-input item-stacked-label item-divider">       
      <input type="password" placeholder="Enter your password">
    </label>

    <button class="button button-block button-assertive">
      Login
    </button>
      
</ion-header-bar>
